<div class="modal-dialog edit-shopping-list-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close(false)" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Edit shopping list</h4>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger alert-dismissable" ng-show="errorMessage">
                <strong>Error!</strong> {{errorMessage}}
            </div>
            <p>Please enter the name of the shopping list and click OK to save it.</p>
            <p>
                <input type="text" ng-model="shoppingList.Name" class="form-control shopping-list-name" />
            </p>
        </div>
        <div class="modal-footer">
            <button ng-click="close(true)" class="col-xs-2 btn btn-primary accept-button">OK</button>
            <button ng-click="close(false)" class="col-xs-2 btn btn-default cancel-button">Cancel</button>
        </div>
    </div>
</div>
