@{
    ViewBag.Title = "Home Page";  
}

<div class="row" ng-controller="indexController">
    <div class="span12">
        <h1>{{message}}</h1>
        <p class="lead">AngryGroceries is a web site and web applications using HTML, CSS and JavaScript.</p>
    </div>
</div>

@section scripts {
    <script src="@Url.Content("~/Scripts/app/indexController.js")" type="text/javascript"></script>
}
